/* ----------- Reset CSS start ----------------*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- Reset CSS end ----------------*/
/* Color Theme Swatches in Hex */
.Interaction-1-hex { color: #0C2C40; }
.Interaction-2-hex { color: #166273; }
.Interaction-3-hex { color: #B4D2D9; }
.Interaction-4-hex { color: #98A668; }
.Interaction-5-hex { color: #CFD989; }

/* Color Theme Swatches in RGBA */
.Interaction-1-rgba { color: rgba(12, 43, 63, 1); }
.Interaction-2-rgba { color: rgba(21, 97, 114, 1); }
.Interaction-3-rgba { color: rgba(179, 209, 216, 1); }
.Interaction-4-rgba { color: rgba(152, 165, 104, 1); }
.Interaction-5-rgba { color: rgba(207, 216, 136, 1); }

/* Color Theme Swatches in HSLA */
.Interaction-1-hsla { color: hsla(202, 68, 14, 1); }
.Interaction-2-hsla { color: hsla(191, 68, 26, 1); }
.Interaction-3-hsla { color: hsla(191, 32, 77, 1); }
.Interaction-4-hsla { color: hsla(73, 25, 52, 1); }
.Interaction-5-hsla { color: hsla(67, 51, 69, 1); }
/*----contenedores de caja------*/
*{
	box-sizing: border-box;
}
body{
	background-color: #166273;
	font-family: sans-serif;
	color: #B4D2D9;
	/*font-family: 'Roboto','Open Sans', sans-serif;*/
	font-family: 'Balsamiq Sans', cursive;
}
.caja-titulo{
	background-color: #0c2c40;
	width: 95%;
	height: 60px;
	margin: 15px auto;
	padding: 10px;
}

.caja-img{
	background-image: url(imgs/copenhagen.jpg);
	width: 95%;
	height: 250px;
	margin: 15px auto;
	padding: 10px;
}
	.caja-principal{
	background-color: #0c2c40;
	width: 95%;
	height: 250px;
	margin: 15px auto;
	padding: 10px;
}
.contenedor{
	width: 95%;
	height: 250px;
	margin: 15px auto;
}
.caja-corta-izq{
	background-color: #0c2c40;
	width: 49.5%;
	height: 250px;
	float: left;
}
.caja-corta-der{
	background-color: #0c2c40;
	width: 49.5%;
	height: 250px;
	float: right;
}
ul{
	position: relative;
	padding: auto;
	text-align: right;
	margin: 10px auto;
}
li{
	display: inline-block;
	position: relative;
}
a{
	color: #B4D2D9;
	text-decoration: none;
}
a:hover{
	color: #CFD989;
}